<h1>Summary</h1>

<div class="refresh-data">
  <button class="btn btn-primary" (click)="refreshData()">Refresh Data</button>
</div>

<div class="metrics-container">
  <div class="metric-card" *ngFor="let item of usage; let i = index">
    <div class="metric-header">
      <span class="metric-number">{{ i + 1 }}.</span>
      <h2 class="metric-title">{{ item.title }}</h2>
      <span class="metric-value-badge">{{ item.count }}{{ item.unit }}</span>
    </div>
    <p class="metric-description">{{ item.subtitle }}</p>
    
    <div *ngIf="item.customerInfos" class="customer-list">
      <div *ngFor="let customer of item.customerInfos" class="customer-item" [ngClass]="{'customer-item-primary': customer.customerId === '1'}">
        <h3>{{ customer.customerName }}</h3>
        <p>{{ customer.lastUsage | date:'d MMM yyyy' }}</p>
        <p>SIMs count: {{ customer.simsCount }}</p>
        <p>Total Usage: {{ customer.quota }}MB</p>
        <p>Customer Id: {{ customer.customerId }}</p>
      </div>
    </div>
  </div>
</div>
